@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/montserrat/Montserrat-ExtraBold.ttf);
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/montserrat/Montserrat-Bold.ttf),
    url(../fonts/montserrat/Montserrat-Bold.eot),
    url(../fonts/montserrat/Montserrat-Bold.svg),
    url(../fonts/montserrat/Montserrat-Bold.woff);
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf),
    url(../fonts/montserrat/Montserrat-Regular.svg),
    url(../fonts/montserrat/Montserrat-Regular.woff),
    url(../fonts/montserrat/Montserrat-SemiBold.otf);
  }
