@import "../../../node_modules/normalize-scss/sass/normalize/import-now";
@import "../../../node_modules/normalize-scss/sass/normalize/normalize-mixin";
@import "../../../node_modules/normalize-scss/sass/normalize/variables";
@import "../../../node_modules/normalize-scss/sass/normalize/vertical-rhythm";
@import "../components/header/header.scss";
@import "../components/main/main.scss";
@import "../components/footer/footer.scss";
@import "./fonts.scss";
@import "../scss/variable.scss";

body {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0em;
    color: $dark-shade-75;
    height: 100%;
} 
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: $dark-shade-100;
}
h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: $dark-shade-100;
}
h3 {
   display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $dark-shade-100;
    margin-bottom: 5px;
    margin-top: 40px;
    
}
.container{
    margin: 0 auto;
    max-width: $container-size;
}
.row{
    display: flex;
    align-items: center;
}
.block{
    display: block;
    width: 400px;
}