section.header
			.container
				.header__row
					.header__logo
						img(src="./assets/img/Logo(1).svg", alt="logo")
					.header__menu
						ul
							li: span О нас
							li: span Услуги
								img(src="./assets/img/expand_more.svg", alt="вакансии")
							li: span Вакансии
							li: span Новости
							li: span Соглашения
								img(src="./assets/img/expand_more.svg", alt="соглашения")
					.header__button
						button.header__button-in войти
						button.header__button-reg зарегистрироваться