section.footer
    .container
        .footer__row
                .block 
                    img(src="./assets/img/Logo(1).svg", alt="logo")
                    p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                .block
                    ul
                        li: span Навигация
                        li: span О нас
                        li: span Новости
                        li: span Служба поддержки 
                        li: span Услуги 
                .block
                    ul
                        li: span О нас
                        li: span О сервисе
                        li: span Наша команда
                        li: span Вакансии 
                        li: span Инвесторы  
                .block
                    ul
                        li: span Служба поддержки
                        li: span Соглашения
                        li: span Сообщества
                        li: span Связь с нами      
                .block

                        span.footer_title Подписка
                        p Получайте специальные предложения и новости сервиса
                        input(type="text" placeholder="Email")
    .footer__row
        .line
            .container
                .row__line
                    span Copyright © 2018 Toxin отель. Все права защищены.
                    .icon
                        img(src="./assets/img/tviter.svg", alt="")
                        img(src="./assets/img/feisb.svg", alt="logo")
                        img(src="./assets/img/instagramm.svg", alt="")
